[2015-11-19 10:15] KeizerDev opened #1 "Create TODO list"
I would like to improve the Magister.java library but is there something like a todo list?

PS. can you give some example code for how to use the library. This will make it more accessible for us all.

Keep up the good work!

[2015-11-19 15:29] iLexiconn commented on #1
I'll create some kind of issue todo system right now =)
You can find a small example here: https://github.com/iLexiconn/Magister.java/blob/master/src/test/java/net/ilexiconn/magister/Test.java

[2015-11-19 15:31] iLexiconn opened #2 "Caching"

[2015-11-19 15:32] iLexiconn opened #3 "Mark support"

[2015-11-19 15:33] iLexiconn opened #4 "Calendar support"

[2015-11-19 15:34] iLexiconn opened #5 "Message support"

[2015-11-19 15:37] #1 closed, assigned to nobody

[2015-11-19 15:48] iLexiconn opened #6 "Update to Magister 6.0.26"
For some reason they decided to change the login method again...

[2015-11-19 16:14] KeizerDev commented on #1
Alright, that's what I was looking for!

[2015-11-19 19:15] #6 closed, assigned to iLexiconn

[2015-12-01 21:37] iLexiconn commented on #3
Closed with https://github.com/iLexiconn/Magister.java/pull/9

[2015-12-01 21:37] #3 closed, assigned to iLexiconn

[2015-12-01 22:24] KeizerDev commented on #3
@MrWolvetech, I'm getting a bug on the grades.

This:

[code]

Seems to reduce this:

[code]

[2015-12-01 22:27] iLexiconn commented on #3
Fixing this now
EDIT: https://github.com/iLexiconn/Magister.java/commit/5ce32f8a5b213efddcd89dd7b95d420da31512e8

[2015-12-01 22:28] KeizerDev commented on #5
You can assignee this issue to me, I'll start working on it tomorrow.

I know how the sending protocol of Magister works, it uses an UUID for each message.
I have quite some experience working with it (https://github.com/Vogeltak/magister-message-spam/).

[2015-12-01 22:32] iLexiconn commented on #5
I'll add you to the repo then, I hope you won't do any bad stuff. :P

[2015-12-01 22:39] KeizerDev commented on #5
Cool :wink:

[2015-12-01 22:42] JWolvers commented on #4
I'll add support for adding and deleting personel appointments tomorrow. I've gotten adding all figured out, but my packet sniffer seems to be unable to pick up http delete requests.

[2015-12-01 22:44] iLexiconn commented on #4
:+1:

[2015-12-01 22:47] KeizerDev commented on #4
Not that hard:

[code]

[2015-12-01 22:50] JWolvers commented on #4
I already suspected it was that, just wasn't able to test it yet.

[2015-12-01 22:51] KeizerDev commented on #4
No problem, Magister isn't always that weird. :smiley:

[2015-12-01 22:54] JWolvers opened #10 "Absence/Presence"
This seems to be not so hard to implement.

[2015-12-02 16:02] iLexiconn opened #11 "Contact support"

[2015-12-02 16:17] #11 closed, assigned to iLexiconn

[2015-12-02 17:27] JWolvers commented on #2
This might be an easier way of implementing cache. http://hc.apache.org/httpcomponents-client-4.5.x/httpclient-cache/apidocs/org/apache/http/client/cache/HttpCacheEntry.html

[2015-12-02 17:31] iLexiconn commented on #2
Hmm, yeah. I'll look into it, thanks. :)

[2015-12-02 17:36] #2 closed, assigned to iLexiconn

[2015-12-02 20:42] KeizerDev commented on #5
I had not that much time today, will work on it asap.

[2015-12-02 23:42] KeizerDev opened #13 "Do a codewise check for privileges"
I know my school doesn't support `berichten` and uses their own system. I'm developing with another Magister account but we should create a fallback and never assume that something exist or is accessible. JFYI

[2015-12-02 23:47] KeizerDev commented on #13
I know there are also schools who have blocked showing absence for example

[2015-12-03 06:18] iLexiconn commented on #13
How do we check if something is accessible or not?

[2015-12-03 07:43] KeizerDev commented on #13
I guess you removed your comment because you already knew it.
If not we should simply check the privileges on login :)

[code]

[2015-12-03 09:29] iLexiconn commented on #13
Yeah,  I'll fix it asap.

[2015-12-03 13:23] KeizerDev commented on #5
Still got some todo's:
- [ ] Post a message
- [ ] Create inner array helpers

[2015-12-03 17:59] KeizerDev opened #16 "Crash on importing library"
Those imports are not found:

[code]

[2015-12-03 18:01] iLexiconn commented on #16
Add `org.apache.httpcomponents:httpclient-cache:4.5.1` to the dependencies

[2015-12-03 18:06] KeizerDev commented on #16
Cool, thanks! :)

Ps. why do I have to do it this way and why does it not comes with `./gradlew build`?

[2015-12-03 18:07] iLexiconn commented on #16
What do you mean? You can just add that line to the grade dependencies.

[2015-12-03 18:11] JWolvers commented on #16
He means why dont we not include our dependencies in our jar file?

[2015-12-03 18:12] iLexiconn commented on #16
Shh, he edited his comment. I didn't set it up yet, why would I when it not nearly ready for a release? ;)

[2015-12-03 18:17] JWolvers commented on #16
touché 😑

[2015-12-03 18:54] #16 closed, assigned to nobody

[2015-12-03 19:25] KeizerDev commented on #16
Lol, yeah.
I had to add it manually in my IDE

[2015-12-03 19:27] iLexiconn commented on #5
In the current system, `Message` and `SingleMessage` are exactly the same. Why?

[2015-12-03 19:38] #13 closed, assigned to iLexiconn

[2015-12-03 20:12] KeizerDev commented on #5
Nope, they are not

[2015-12-03 20:14] KeizerDev commented on #5
`SingleMessage` has `inhoud` and `bijlagen` you have to do a single query to see those.

[2015-12-03 20:16] iLexiconn commented on #5
Oh, right, okay. :)

[2015-12-03 20:23] KeizerDev commented on #10
I'll implement it now.

[2015-12-03 20:28] KeizerDev opened #17 "Send messages"

[2015-12-03 20:28] KeizerDev opened #18 "Implement attachment"

[2015-12-03 20:29] KeizerDev commented on #5
I think it's better to specify issues more rather than leave it as an too big subject, so we have more clear whats done and what have to be done to get to the milestone.

[2015-12-03 20:29] #5 closed, assigned to KeizerDev

[2015-12-03 20:37] KeizerDev commented on #10
Should I also implement `absentieperioden` or should I skip it and just use the current school year?

[2015-12-03 20:38] iLexiconn commented on #10
I think only the current school year is enough.

[2015-12-03 20:39] KeizerDev commented on #10
:+1:

[2015-12-03 20:40] JWolvers commented on #10
Well I personally think you should implement it since is an api and  You never know the end user's use case will be. But that is just my suggestion

[2015-12-03 20:46] iLexiconn commented on #10
Very true, but why would absences from the previous year be relevant?

[2015-12-03 20:47] JWolvers commented on #10
Idk to calculate your absence over a time span and display it in a graph?

[2015-12-03 20:49] KeizerDev commented on #10
Just open another issue for that

[2015-12-03 20:55] KeizerDev opened #19 "Return Date object instead of String for every time related object"
When I have something like `2014-07-31T22:00:00.0000000Z` I rather want a Date object than just a plain String, just implement the following format:

[code]

[2015-12-03 20:56] JWolvers commented on #19
There is a method in the appointment class that does just that.

[2015-12-03 21:00] iLexiconn commented on #19
`Appointment#appointmentDateToDate()`

[2015-12-03 21:00] #19 closed, assigned to iLexiconn

[2015-12-03 21:25] KeizerDev commented on #19
Ok, didn't saw that.
We still should migrate that to a helper class because we have to use that on nearly every page.

[2015-12-03 21:27] JWolvers commented on #19
True

[2015-12-03 21:28] iLexiconn commented on #19
:+1:

[2015-12-03 21:35] KeizerDev opened #21 "Choose between absent period"
`/absentieperioden`

[2015-12-03 21:35] KeizerDev commented on #10
#20

[2015-12-03 21:35] #10 closed, assigned to KeizerDev

[2015-12-04 15:17] KeizerDev opened #23 "Create and delete personel appointments"
I think @MrWolvetech would like to do this ;p

[2015-12-04 15:17] #4 closed, assigned to nobody

[2015-12-04 15:56] iLexiconn opened #24 "Add dependencies to pom.xml"

[2015-12-04 22:05] iLexiconn commented on #24
Apparently the `publish` command already does this.

[2015-12-04 22:05] #24 closed, assigned to iLexiconn

[2015-12-04 22:33] #21 closed, assigned to iLexiconn

[2015-12-04 22:41] iLexiconn opened #25 "Add method to change password"

[2015-12-05 09:57] iLexiconn opened #26 "Presence `appointment` array not correctly parsed"

[2015-12-05 10:15] #26 closed, assigned to iLexiconn

[2015-12-05 12:06] iLexiconn opened #27 "Split up privileges"

[2015-12-05 12:08] KeizerDev commented on #27
What do you mean by split up? In a separate class?

[2015-12-05 12:12] iLexiconn commented on #27
Yeah, the Magister class is pretty messy right now.

[2015-12-05 12:16] iLexiconn commented on #27
This is what I have right now:

[code]

[2015-12-05 12:51] KeizerDev commented on #27
Yeah that's cool! But what if i use it as an library? Can i still access
that class or do I have to implement it myself?

[2015-12-05 12:52] KeizerDev commented on #27
Lol, i mean, it's pretty weird for me tot use `GradeHandler.class`

[2015-12-05 12:57] iLexiconn commented on #27
It's shipped with the library, ofcourse.

[2015-12-05 13:47] #25 closed, assigned to iLexiconn

[2015-12-05 13:52] KeizerDev commented on #27
Are you going to migrate everything? If so, i'll wait a bit with contributing so we get less conflicts.

[2015-12-05 13:57] iLexiconn commented on #27
Just add everything to the Magister file for now. :)

[2015-12-05 16:00] #27 closed, assigned to iLexiconn

[2015-12-05 18:02] iLexiconn opened #28 "ELO"

[2015-12-05 20:58] iLexiconn commented on #28
I can't test the other 3 items, because they're all empty for me. Can someone else please take a look at this?

[2015-12-05 21:03] JWolvers commented on #28
I can take a look but that wont be until tomorrow/Mondayish

[2015-12-05 21:04] KeizerDev commented on #28
@iLexiconn Just contact me by email, I have some backup accounts for that!

[2015-12-05 21:32] iLexiconn commented on #28
@KeizerDev Sent you the email _wink_ _wink_

[2015-12-06 13:02] KeizerDev commented on #28
@iLexiconn check your mail :wink:

[2015-12-06 14:39] iLexiconn opened #29 "Create snapshot repo"
I already have the repo, but I don't know how I can generate the snapshot jars.

[2015-12-06 14:40] JWolvers commented on #29
Use jenkins

[2015-12-06 14:41] iLexiconn commented on #29
Can I use jenkins jars as dependency?

[2015-12-06 14:41] JWolvers commented on #29
I believe you can

[2015-12-06 14:48] iLexiconn commented on #29
Tried it, but I can't get it to work, Is there no way to do this with gradle?

[2015-12-06 15:00] JWolvers commented on #29
https://github.com/codepath/android_guides/wiki/Building-Gradle-Projects-with-Jenkins-CI
This might help you

[2015-12-06 15:25] iLexiconn commented on #29
I know how to build gradle projects with Jenkins, but I'm pretty sure I can use the default configuration as maven repo.

[2015-12-06 15:27] JWolvers commented on #29
I am pretty sure you will need a plugin for that

[2015-12-06 15:29] KeizerDev commented on #28
@iLexiconn are they still working? I got like 1000 more if needed.

[2015-12-06 15:31] JWolvers commented on #28
How the f*ck did you acquire all those!?

[2015-12-06 15:34] KeizerDev commented on #28
Let's say, good preparations before leaving school ;)

[2015-12-06 15:35] iLexiconn commented on #28
@KeizerDev Didn't test them yet, but I'm sure they'll work. :)

[2015-12-06 15:40] iLexiconn opened #30 "JUnit support"

[2015-12-06 16:20] iLexiconn opened #31 "Migrate to HttpUrlConnection"

[2015-12-06 16:22] KeizerDev commented on #31
Can you be more clear? I can implement it right away for android. You just have to run it on another thread instead of the ui thread.

[2015-12-06 16:23] iLexiconn commented on #31
The BufferedImage and ImageIO classes can't isn't part of the android sdk. And maybe use the android http stuff as well.

[2015-12-06 16:31] KeizerDev commented on #31
You can use `FileOutputStream`. I used it to store images on Android.

[2015-12-06 16:32] iLexiconn commented on #31
I don't want to store it. It's used to get the profile picture. I also can't get the httpclient to work in Android 6.0+

[2015-12-06 16:33] KeizerDev commented on #31
Could you make an test repo or branch for Android? I'll take a look at it

[2015-12-06 16:35] iLexiconn commented on #31
Done. :)

[2015-12-06 16:35] KeizerDev commented on #31
How do you exactly want to return the profile picture? There are so many
ways

[2015-12-06 16:37] iLexiconn commented on #31
Er, just an image. :p

[2015-12-06 16:38] KeizerDev commented on #31
So, `FileOutputStream`.

[2015-12-06 16:39] KeizerDev commented on #31
I mean a test project for Android. Not really a development branch

[2015-12-06 16:47] iLexiconn commented on #31
Sure. :p

[2015-12-06 16:56] iLexiconn commented on #31
Whoops missed that message. I'll create one in a few mins.

[2015-12-06 16:59] JWolvers commented on #31
There is no more httpclient in android 6.0 and up

[2015-12-06 17:07] iLexiconn commented on #31
I know, that's why I tested it on that version.

[2015-12-06 17:09] JWolvers commented on #31
And it doesn't fall back on urlhttpconnention?

[2015-12-06 17:12] iLexiconn commented on #31
I'm talking about the HttpClient stuff.

[2015-12-06 17:13] JWolvers commented on #31
Yeah but if the library is used on android, it should fall back on using urlhttpconnention instead of using httpclient.

[2015-12-06 17:48] JWolvers commented on #31
I'm sorry i already get what you wete talking about. I will add this to my todo list for tomorrow.

[2015-12-06 17:53] iLexiconn commented on #31
:+1:

[2015-12-06 18:02] KeizerDev commented on #31
Lol, why don't you just compile it with a lower version?

[2015-12-06 18:03] KeizerDev commented on #31
The lib is gone maybe, but that doesn't mean that older version won't run.

[2015-12-06 18:03] JWolvers commented on #31
Because than it will crash on android 6.0+ because they cant find the class

[2015-12-06 18:04] iLexiconn commented on #31
I want this lib to be future-ready. You never know when they are going to remove it completely.

[2015-12-06 18:09] KeizerDev commented on #31
http://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client

[2015-12-06 18:13] KeizerDev commented on #31
Got a fix for it.

[2015-12-06 18:16] JWolvers commented on #31
Please dont let it be just adding:

useLibrary 'org.apache.http.legacy'

To the gradle file 😕

[2015-12-06 18:16] KeizerDev commented on #31
Yeah.. :smile:

[2015-12-06 18:18] JWolvers commented on #31
Well that's not really a 'fix'

[2015-12-06 19:02] KeizerDev commented on #31
I agree, let's migrate to `HttpURLConnection` than.

[2015-12-06 19:03] JWolvers commented on #31
Only for android or also for normal desktop use?

[2015-12-06 19:04] iLexiconn commented on #31
Let's take the easy path and do both.

[2015-12-06 19:04] KeizerDev commented on #28
@iLexiconn is this really necessary for the 0.1.0 milestone? Let's make finnish our milestone as fast as possible and keep this of the 0.1.1 so we got at least something which people can use.

[2015-12-06 19:05] iLexiconn commented on #28
:+1:

[2015-12-06 19:05] KeizerDev commented on #31
I agree with that. Let's keep it as universal as possible

[2015-12-06 19:06] MrWolvetech commented on #31
Well we already switch to urlconnection on android now, well for the httputil part at least. So it wont be to hard to separate them.

[2015-12-06 19:06] KeizerDev commented on #28
And make multiple issues for it instead of one because of the `ELO` tag.

[2015-12-06 19:07] iLexiconn opened #32 "ELO 'Bronnen'"

[2015-12-06 19:07] #32 closed, assigned to iLexiconn

[2015-12-06 19:07] JWolvers commented on #31
Ok them I will migrate every thing to HttpUrlConnection

[2015-12-06 19:07] iLexiconn opened #33 "ELO 'Studiewijzers'"

[2015-12-06 19:07] #33 closed, assigned to iLexiconn

[2015-12-06 19:07] KeizerDev commented on #31
Cool :+1:

[2015-12-06 19:07] iLexiconn opened #34 "ELO 'Opdrachten'"

[2015-12-06 19:08] JWolvers commented on #31
👍

[2015-12-06 19:08] iLexiconn opened #35 "ELO 'Inschrijven'"

[2015-12-06 19:08] #28 closed, assigned to iLexiconn

[2015-12-06 19:08] iLexiconn opened #36 "ELO 'Portfolio'"

[2015-12-06 19:09] iLexiconn commented on #31
Well this still doesn't fix the BufferedImage stuff.

[2015-12-06 19:10] JWolvers commented on #31
Yes i forgot

[2015-12-06 19:13] JWolvers commented on #31
We can return an object containing a drawable or a buffered image depending on which os we are running.

[2015-12-06 19:13] KeizerDev commented on #31
Yeah, just return an universal type of object.

[2015-12-06 19:16] JWolvers commented on #31
Well there is none. So we will have to create a wrapper.

[2015-12-07 14:34] iLexiconn opened #37 "Migrate to android-friendly image object"

[2015-12-07 14:44] #31 closed, assigned to iLexiconn

[2015-12-07 15:51] #23 closed, assigned to JWolvers

[2015-12-07 18:41] iLexiconn opened #38 "Session returns 400"
https://github.com/iLexiconn/Magister.java/blob/master/src/main/java/net/ilexiconn/magister/util/HttpUtil.java#L57

[2015-12-07 20:24] JWolvers commented on #38
Conn.doInput(true) might help. Not sure though.

[2015-12-07 20:26] iLexiconn commented on #38
That's already there.

[2015-12-07 20:28] JWolvers commented on #38
Only doOutput is there? Or is it's default true?

[2015-12-07 20:36] JWolvers commented on #38
I already know; we dont set the session cookie

[2015-12-07 20:37] iLexiconn commented on #38
`setDoOutput` is already there. Can I assign this to you then?

[2015-12-07 20:39] JWolvers commented on #38
Yeah I will try to sort it out

[2015-12-07 21:21] iLexiconn commented on #38
Maybe try putting `conn.connect();` before the return statement?

[2015-12-07 21:22] JWolvers commented on #38
Well I get a 400 bad request response from my magister??

[2015-12-07 21:24] iLexiconn commented on #38
@KeizerDev

[2015-12-07 21:25] iLexiconn commented on #38
Yup, me too.

[2015-12-07 21:26] KeizerDev commented on #38
aawh

[2015-12-07 21:27] KeizerDev commented on #38
Wait, I haven't followed the conversation

[2015-12-07 21:27] iLexiconn commented on #38
There's something wrong wit the POST method.

[2015-12-07 21:29] JWolvers commented on #38
Yes for one it is't send in json, sorry my fault. But that is apparently not the only issue as i have fixed that on my side.

[2015-12-07 21:30] iLexiconn commented on #38
Can you commit the updated code please? :)

[2015-12-07 21:35] iLexiconn commented on #38
Are you sure you should send the data as json? I don't think the old code did that.

[2015-12-07 21:43] KeizerDev commented on #38
Same problem, on every school.

[2015-12-07 21:44] KeizerDev commented on #38
LOL

[2015-12-07 21:44] KeizerDev commented on #38
Just `System.out.println(parameters);`

[2015-12-07 21:45] KeizerDev commented on #38
Look at that nice parameters: `Wachtwoord=BLEEP&Gebruikersnaam=BLEEP&`

[2015-12-07 21:46] iLexiconn commented on #38
I don't get it.

[2015-12-07 21:46] KeizerDev commented on #38
EDIT: Sorry for not checking my answer.

[2015-12-07 21:46] iLexiconn commented on #38
Now I'm even more confused.

[2015-12-07 21:48] JWolvers commented on #38
now it gives an 500 response?

[2015-12-07 21:48] KeizerDev commented on #38
@MrWolvetech where are you sending the parameters?

[2015-12-07 21:51] JWolvers commented on #38
https://github.com/iLexiconn/Magister.java/blob/master/src/main/java/net/ilexiconn/magister/util/HttpUtil.java#L57

[2015-12-07 21:52] iLexiconn commented on #38
On another note, maybe we should migrate to `HttpsURLConnection`

[2015-12-07 21:56] KeizerDev commented on #38
Lol, wait. How does the Magister auth actually works?
When doing it returns a `400 badrequest` too:

[code]

[2015-12-07 21:56] iLexiconn opened #39 "Migrate to HttpsURLConnection"

[2015-12-07 21:57] KeizerDev commented on #38
They changed it soo many times that I'm lost keeping track on it.

[2015-12-07 21:59] KeizerDev commented on #38
Ah, it's still the delete/validate way.

[2015-12-07 21:59] JWolvers commented on #38
so the httpDelete isn't working?

[2015-12-07 22:02] iLexiconn commented on #38
Fixed it, will commit in a sec.

[2015-12-07 22:03] JWolvers commented on #38
Nice :+1:

[2015-12-07 22:04] KeizerDev commented on #38
Nice :)

[2015-12-07 22:04] #38 closed, assigned to iLexiconn

[2015-12-07 22:04] #39 closed, assigned to iLexiconn

[2015-12-08 10:56] iLexiconn opened #41 "Creating appointment returns 400"

[2015-12-08 18:29] JWolvers commented on #41
I finally found the error magister returns: {"Message":"Type: Er is een ongeldig afspraaktype opgegeven."} so i guess i'll be fixing this

[2015-12-08 18:30] iLexiconn commented on #41
:+1:

[2015-12-08 18:40] JWolvers commented on #41
Fixed it i will do some clean up and the commit, or should i make an pull request?

[2015-12-08 18:49] iLexiconn commented on #41
Please make it a pull request, like @KeizerDev does.

[2015-12-08 18:50] JWolvers commented on #41
:+1:

[2015-12-08 19:41] #41 closed, assigned to JWolvers

[2015-12-08 21:10] JWolvers commented on #37
I'm done but can't test it since my school's magister is broken again :/

[2015-12-08 21:18] iLexiconn commented on #37
I'll test it if you commit it. :)

[2015-12-08 21:42] JWolvers commented on #37
Ok should work

[2015-12-08 21:51] iLexiconn commented on #30
Maybe we can use one of @KeizerDev's accounts?

[2015-12-08 21:53] iLexiconn commented on #37
Works for me. :)

[2015-12-08 21:53] #37 closed, assigned to JWolvers

[2015-12-08 22:00] KeizerDev commented on #30
Sure :+1:

[2015-12-09 06:26] JWolvers opened #42 "Magister changed Inlog method again :("
Well Magister changed Inlog method again :(

[2015-12-09 07:48] KeizerDev commented on #42
_derp_

[2015-12-09 08:20] iLexiconn commented on #42
It still works for me?

[2015-12-09 08:22] KeizerDev commented on #42
@iLexiconn here too. I know Magister is doing some of those thing per school.

@MrWolvetech, can you show me your Magister version by copying the output of: https://SCHOOL.magister.net/api/versie

[2015-12-09 09:04] JWolvers commented on #42
{"ApiVersie":"1.27.42942.6","CoreVersie":"1.27.41852.18","DatabaseVersie":"5.6.50.0","ProductVersie":"6.0.27","ReleaseDatum":"2015-12-08T11:01:00.0399281Z"}

[2015-12-09 09:06] KeizerDev commented on #42
Lol, yeah. My `ReleaseDatum` is like last month.. Stupid Magister, just update it everywhere or do not.

[2015-12-09 12:09] iLexiconn opened #43 "Make the Magister class Parcelable"
Or is there a better way to transfer the object from one activity to another?

[2015-12-09 12:34] JWolvers commented on #43
Parcelable is the best way. Just make sure you make an seperate class that extends Magister and implements Parcable so we remain compatible with non android applications.

[2015-12-09 12:35] iLexiconn commented on #43
I don't think gradle can compile errored code. Maybe we can add it as some kind of special dependency.

[2015-12-09 13:19] JWolvers commented on #42
they changed the structure of links inside the login respones, fix is as easy as removing `Links[] links` object form `Session`

[2015-12-09 13:32] JWolvers commented on #43
library so we can build again :)
https://drive.google.com/open?id=0B76J7JS4b2vVS09sR2xZYllseVE

include it in your project

[2015-12-09 13:36] JWolvers opened #44 "`BerichtSoort` isn't always `Bericht`"
It can also be `Mededeling` now it throws a `FileNotFoundException` if it is a mededeling
https://github.com/iLexiconn/Magister.java/blob/master/src/main/java/net/ilexiconn/magister/handler/MessageHandler.java#L113

[2015-12-09 13:39] #42 closed, assigned to JWolvers

[2015-12-09 14:00] iLexiconn commented on #43
If you can give me access to the file. :p

[2015-12-09 14:01] JWolvers commented on #43
Oops try again

[2015-12-09 14:51] #43 closed, assigned to iLexiconn

[2015-12-09 16:39] #17 closed, assigned to KeizerDev

[2015-12-09 16:56] KeizerDev commented on #17
Lol @MrWolvetech, thanks! Had not that much time to implement it my own..

[2015-12-09 16:56] KeizerDev commented on #17
@iLexiconn So we are gonna to finish the milestone earlier than expected?

[2015-12-09 16:59] JWolvers commented on #17
Well, i didn't have much to do so.

[2015-12-09 17:00] JWolvers commented on #17
And i think so, we are quite far.

[2015-12-09 17:01] iLexiconn commented on #17
There's a big chance we will! :)

[2015-12-09 17:12] iLexiconn opened #45 "The study array isn't getting parsed (Parcel)"

[2015-12-09 17:12] #29 closed, assigned to iLexiconn

[2015-12-09 17:32] iLexiconn commented on #30
@KeizerDev Can you change the system propereties with an actual account? The tests can't find the properties on Travis for some reason.

[2015-12-09 18:01] KeizerDev commented on #30
Where do I have to place it exactly?

[2015-12-09 18:02] iLexiconn commented on #30
https://github.com/iLexiconn/Magister.java/blob/master/src/test/java/net/ilexiconn/magister/ProfileTest.java#L41

[2015-12-09 18:03] iLexiconn opened #46 "Android app"
Is anyone interested in helping me with my new magister android app? I already have some things done, I can show you some screenshots of you want.
The app is called Hipster. I already have a repo for it, but it's currently empty.

[2015-12-09 18:05] KeizerDev commented on #30
Just hardcode an account?

[2015-12-09 18:05] iLexiconn commented on #30
Yeah, why not.

[2015-12-09 18:06] KeizerDev commented on #30
Lol, I have also a helpdesk account xd

[2015-12-09 18:06] KeizerDev commented on #30
Name: `Obama`

[2015-12-09 18:11] JWolvers commented on #46
Sure i would live to help, but got some things I have to take care of first, Namely finishing my `Profiel Werkstuk`

[2015-12-09 18:12] KeizerDev commented on #46
Lol, i'm also planning to totally recreate `Mister` by calling it `Magist` and use this library instead of my crappy implementation.

[2015-12-09 18:14] JWolvers commented on #46
Well lets work together

[2015-12-09 18:16] KeizerDev commented on #30
@iLexiconn check your mail.

[2015-12-09 18:37] iLexiconn commented on #46
Here's a screenshot of my current progress. As you probably can see, it's my first Android application I've ever made. :p
![device-2015-12-09-193509](https://cloud.githubusercontent.com/assets/5201999/11694759/245ab51c-9eac-11e5-8ad1-90b3147548a0.png)
(Johanna is just a test person)

[2015-12-09 18:39] KeizerDev commented on #46
Lol nice :p

[2015-12-09 19:04] JWolvers commented on #46
doesn't look that bad :)

[2015-12-09 21:36] JWolvers opened #47 "Travis Ci builds failing"

[2015-12-09 21:38] iLexiconn commented on #47
The tests are failing, not the build. :p

[2015-12-09 21:38] #47 closed, assigned to nobody

[2015-12-09 21:42] iLexiconn commented on #44
You fixed this, right?

[2015-12-09 21:45] KeizerDev commented on #44
No. Look at the source, there is still `Bericht` hardcoded. I will take a look at it

[2015-12-09 21:45] JWolvers commented on #44
only inside `Test.java` still needs proper fixing

[2015-12-09 21:50] KeizerDev commented on #44
We should do a check on `"Soort": ​1`

[2015-12-09 22:30] #44 closed, assigned to KeizerDev

[2015-12-10 12:13] iLexiconn opened #49 "Unable to remove appointments"

[2015-12-10 12:19] JWolvers commented on #49
Works for me

[2015-12-10 12:24] iLexiconn commented on #49
Did you sync your code with master?

[2015-12-10 13:08] JWolvers commented on #49
Something has changed since the last time i tried, will take an look at it tonight.

[2015-12-10 13:10] iLexiconn commented on #49
I know, I changed the url thingy. I tried using the appointment ID instead.

[2015-12-10 14:55] iLexiconn opened #51 "Get grades from time period"

[2015-12-10 17:41] JWolvers commented on #49
Well using the appointment id still works for me.

[2015-12-10 18:01] JWolvers commented on #49
can you show me your code?

[2015-12-10 18:06] JWolvers commented on #45
Can you give some more information? I am not able to replicate your issue.

[2015-12-10 18:10] iLexiconn commented on #45
https://github.com/iLexiconn/Magister.java/blob/master/src/main/java/net/ilexiconn/magister/ParcelableMagister.java#L60

[2015-12-10 18:10] iLexiconn commented on #49
I'm using the test cases, it just leaves the test appointment without removing it.

[2015-12-10 18:14] JWolvers commented on #49
Well from what i can see you are creating an appointment with equel start and end dates, which magister doesn't like.

[2015-12-10 18:17] iLexiconn commented on #49
Already fixed that.

[2015-12-10 18:20] JWolvers commented on #49
On android?

[2015-12-10 18:22] iLexiconn commented on #49
I fixed the test, it's adding the appointment.

[2015-12-10 18:27] JWolvers commented on #49
Well i understood that part, I was just wondering if you were using android. I know it has some issues regarding senging http Delete Requests

[2015-12-10 18:31] iLexiconn commented on #49
Oh, no. I'm just running on Windows.

[2015-12-10 18:52] iLexiconn commented on #46
Just uploaded the code to https://github.com/iLexiconn/Hipster

[2015-12-10 18:53] JWolvers commented on #49
I found your issue. the id of every personel is 0 because the id is assignd by the server. I can set the id to the correct one, but I'll have to parse some stuff again and you didn't seem to like that.

[2015-12-10 18:57] iLexiconn commented on #49
Well go ahead. :)

[2015-12-10 19:59] #49 closed, assigned to JWolvers

[2015-12-10 20:04] #51 closed, assigned to nobody

[2015-12-10 20:05] #30 closed, assigned to iLexiconn

[2015-12-10 20:05] iLexiconn commented on #18
Can we still add this to 0.1.0? @KeizerDev

[2015-12-10 20:09] iLexiconn commented on #45
https://media.ilexiconn.net/uBrTpRj.txt

[2015-12-10 20:19] JWolvers commented on #45
did you try just using Serializable?
Serializable also works with arrays

[2015-12-10 20:21] iLexiconn commented on #45
We have to somehow make it also a Parcelable.

[2015-12-10 20:23] JWolvers commented on #45
so you tried:
`studies = (Study[]) in.readSerializable();` and
`dest.writeSerializable(studies);`

[2015-12-10 20:27] iLexiconn commented on #45
Yes I did, and it didn't work.

[2015-12-10 20:41] #45 closed, assigned to JWolvers

[2015-12-10 20:42] JWolvers commented on #45
Not pretty but should work.

[2015-12-10 20:46] iLexiconn commented on #45
:+1:

[2015-12-10 21:00] JWolvers commented on #18
depends on when you want to release it. I can try to implement it, doesn't look that hard.

[2015-12-10 21:05] iLexiconn commented on #18
Somewhere next month.

[2015-12-10 21:05] JWolvers commented on #18
Than yes

[2015-12-10 21:21] KeizerDev commented on #18
You can assign it to @MrWolvetech than, haven't had that much time to work on it at all.

[2015-12-10 21:40] KeizerDev commented on #46
@iLexiconn, Looks pretty clean!

[2015-12-10 21:48] iLexiconn commented on #46
Thanks. :)

[2015-12-11 12:55] #46 closed, assigned to nobody

[2015-12-11 16:09] iLexiconn opened #52 "Unable to login after logging off"
See https://github.com/iLexiconn/Hipster/issues/2

[2015-12-11 21:23] JWolvers commented on #52
Well from what i can tell it takes magister sometime to cooldown after deleteing the current session.

[2015-12-11 21:52] #52 closed, assigned to JWolvers

[2015-12-11 22:09] iLexiconn opened #53 "Get full course name"
Currently there is no way to get the full course name from the `Course` object in `Grade`.

[2015-12-11 22:18] JWolvers commented on #53
Done

[2015-12-11 22:19] iLexiconn commented on #53
Done what?

[2015-12-11 22:19] JWolvers commented on #53
I implemented it, will commit in a sec.

[2015-12-11 22:20] iLexiconn commented on #53
:+1:

[2015-12-11 22:20] #53 closed, assigned to JWolvers

[2015-12-12 19:48] #18 closed, assigned to JWolvers

[2015-12-12 19:53] iLexiconn commented on #18
Only one more thing to do; Beta testing!

[2015-12-12 21:13] iLexiconn opened #54 "Rename Course to Subject"

[2015-12-13 00:28] iLexiconn opened #55 "Update to Magister 6.0.27"
`java.io.FileNotFoundException: https://school.magister.net/api/sessies`

[2015-12-13 00:32] iLexiconn commented on #55
Well that didn't fix it.

[2015-12-13 00:36] iLexiconn commented on #55
I have no idea what I'm doing.

[2015-12-13 10:56] #54 closed, assigned to iLexiconn

[2015-12-13 11:54] iLexiconn commented on #55
@MrWolvetech Do you know how we can fix this?

[2015-12-13 11:55] JWolvers commented on #55
It still works for me?

[2015-12-13 11:56] iLexiconn commented on #55
What version of magister do you have?

[2015-12-13 11:57] JWolvers commented on #55
{"ApiVersie":"1.27.42942.6","CoreVersie":"1.27.41852.18","DatabaseVersie":"5.6.50.0","ProductVersie":"6.0.27","ReleaseDatum":"2015-12-09T10:22:24.5297726Z"}

[2015-12-13 12:02] iLexiconn commented on #55
I have no idea.

[2015-12-13 12:04] iLexiconn commented on #55
If it's only broken for me I'm going to close the issue.

[2015-12-13 12:04] #55 closed, assigned to nobody

[2015-12-13 12:05] JWolvers commented on #55
Are you sure the school url is right?

[2015-12-13 12:06] iLexiconn commented on #55
Been using it for 5 years, pretty sure. :P

[2015-12-13 12:07] JWolvers commented on #55
Just making sure :p

[2015-12-13 16:06] iLexiconn opened #56 "0.1.0"
Is the API ready for its first release? @KeizerDev @MrWolvetech

[2015-12-13 19:47] KeizerDev commented on #56
Let's first make a changelog of what it's able to do and what have to be done in the `0.1.1` version and up.

[2015-12-13 19:53] iLexiconn commented on #56
I have no idea how we're going to list it in a nice way.

[2015-12-14 14:11] JWolvers commented on #56
We should also make the wiki page with some simple example code.

[2015-12-14 17:41] iLexiconn opened #58 "NIO package not found on android"
See https://github.com/iLexiconn/Magister.java/commit/e4d3aabbd74ed10cfdbbfa2cd3d99a8994258a42

[2015-12-14 19:53] KeizerDev commented on #56
I know how, http://keepachangelog.com/

[2015-12-14 20:02] KeizerDev commented on #56
## [0.1.0] - 2015-12-15

### Added
- Implemented support for grades.
- Implemented creating and deleting personal appointment.
- etc.

### Changed
-

[2015-12-14 21:06] iLexiconn commented on #56
https://github.com/iLexiconn/Magister.java/commit/8f29fc19526aab35df13c2a06b2e0419f260ab62

[2015-12-14 21:29] KeizerDev commented on #56
Yeah, that's pretty good. Next step, reorganize the `README.md`.

[2015-12-14 21:29] iLexiconn commented on #56
Can I leave that to you? :p

[2015-12-14 21:58] KeizerDev commented on #56
Yeah :+1:

[2015-12-14 22:42] JWolvers opened #59 "Backup Login Method"
I have this idea of having a backup login method for if the default one fails, this will come in handy if Magister changes the login method again. I envisioned it like this: default method fails, so in our backup method we just go to the school's magister url, fill in the form programmatically and execute the following javascript: `loginForm.getElementsByClassName('btn-primary3')[0].click()` which

[2015-12-14 22:46] iLexiconn commented on #59
If you can do it before new year, sure. :p

[2015-12-14 22:47] JWolvers commented on #59
I'll try

[2015-12-14 22:50] KeizerDev commented on #59
We need [jsoup](http://jsoup.org/) for that

[2015-12-14 22:51] iLexiconn commented on #59
Please don't any more dependencies :(

[2015-12-14 22:51] KeizerDev commented on #59
Yeah, it's pretty hard to do without I guess, maybe @MrWolvetech knows how..

[2015-12-14 22:54] JWolvers commented on #59
Well for Java yes, but we can implement it as an android only feature since it wont require a library on android.

[2015-12-14 22:56] iLexiconn commented on #59
I don't think we need it for the first release. Can we move this feature over to 0.1.1?

[2015-12-14 23:00] JWolvers commented on #59
Sure

[2015-12-14 23:04] JWolvers commented on #59
We dont need a library for java either we can use webeninge form javafx, the feature will only be able to run on java 8 tough.

[2015-12-14 23:05] iLexiconn commented on #59
Let's not do it then. I want this API to work on all Java versions.

[2015-12-15 15:17] iLexiconn opened #60 "Single grade data"

[2015-12-15 15:17] #59 closed, assigned to nobody

[2015-12-15 15:29] #60 closed, assigned to iLexiconn

[2015-12-15 15:34] iLexiconn opened #61 "Parse all subjects at login"

[2015-12-15 15:48] JWolvers commented on #61
Sorry, missed the self-assignment.

[2015-12-15 15:58] iLexiconn commented on #61
:wink:

[2015-12-15 16:18] #61 closed, assigned to iLexiconn

[2015-12-16 20:15] JWolvers commented on #56
Maybe we should add a wiki?

[2015-12-17 15:22] iLexiconn commented on #56
https://magister.ilexiconn.net/Main_Page

[2015-12-19 12:00] #58 closed, assigned to iLexiconn

[2015-12-22 20:52] JWolvers opened #62 "Hipster crashes on Login"
hipster crashes on login but it appears to be a magister.java issue.

Crashlog:

[code]

[2015-12-22 21:15] JWolvers commented on #62
Fixed it by doing a clean build, weird :/

[2015-12-22 21:15] #62 closed, assigned to nobody

[2015-12-22 21:16] iLexiconn commented on #56
Compiling 0.1.0 right now.

[2015-12-22 21:17] JWolvers commented on #56
👍

[2015-12-22 21:30] #56 closed, assigned to nobody

[2015-12-23 00:09] iLexiconn opened #63 "Subjects array not parsed"

[2015-12-23 00:11] iLexiconn opened #64 "Not all containers are serializable"

[2015-12-23 00:11] #63 closed, assigned to iLexiconn

[2015-12-23 00:11] #64 closed, assigned to iLexiconn

[2015-12-27 17:56] iLexiconn opened #65 "Remove GSON dependency"

[2015-12-27 17:58] JWolvers commented on #65
Aka build a fat jar?

[2015-12-27 17:59] iLexiconn commented on #65
No, migrate to the default java json tools

[2015-12-27 18:05] JWolvers commented on #65
But gson is faster, if I'm not mistaken.

[2015-12-27 18:12] KeizerDev commented on #65
Wait, lets first finnish the other issues so we got the whole api packed in a lib and than go for a smaller library.

[2016-02-01 10:20] iLexiconn opened #66 "Update to Magister 6.0.28"

[2016-02-01 18:00] JWolvers commented on #66
What is not working with magister 6.0.28?

[2016-02-01 18:38] iLexiconn commented on #66
It's not logging in

[2016-02-01 19:19] JWolvers commented on #66
it's logging in for me
`{"ApiVersie":"1.28.44197.5","CoreVersie":"1.28.42959.7","DatabaseVersie":"5.6.51.0","ProductVersie":"6.0.28","ReleaseDatum":"2016-01-20T08:04:19.5367302Z"}`

[2016-02-01 19:32] iLexiconn commented on #66
I keep receiving errors in the Hipster app

[2016-02-01 19:39] JWolvers commented on #66
Then I'll compile Hister and try

[2016-02-01 21:07] JWolvers commented on #66
I found the issue. they completely removed the subject api call. `SCHOOL/personen/ID/aanmeldingen/StudyID/vakken` does not exist anymore.

[2016-02-01 21:08] iLexiconn commented on #66
Is there any replacement we can use?

[2016-02-01 21:09] JWolvers commented on #66
i'm looking into it

[2016-02-01 21:25] JWolvers commented on #66
never mind it is still there. ParsableMagister is just missing the little chunk of code that parses it.

[2016-02-01 21:26] #66 closed, assigned to nobody

[2016-02-01 21:49] JWolvers opened #67 "CurrentStudie is null on android"
currentstudie is null on android. It looks like `new Date` doesn't work the same on android.

[2016-02-01 22:01] #67 closed, assigned to JWolvers

[2016-02-02 14:44] iLexiconn commented on #66
Thanks!

[2016-03-20 15:56] maikgroenewegen opened #68 "Is there an example available?"
I really ike your work on the Magister Java API and I'm trying to use it but my Java knowledge is limited.
Would it be possible to share some sort of example so I can get a better understanding on how to use your library?

[2016-03-20 16:22] iLexiconn commented on #68
I use this API in my own app, [Hipster](https://github.com/iLexiconn/Hipster). You could take a look at how I use this API there.

[2016-03-20 16:22] #68 closed, assigned to nobody

[2016-03-20 16:22] #65 closed, assigned to iLexiconn

[2017-01-26 08:45] nelson2tm opened #69 "Romain ilexiconn.net down"
Visiting it shows a page with ads instead of the actual website

[2017-01-26 08:46] nelson2tm commented on #69
Domain* autocorrect failed once again

[2017-03-29 07:59] elisaado commented on #69
LOL
@iLexiconn They probably sold it to some advertising company... (Not sure though)

You can have it back here: `http://www.namejet.com/Pages/Auctions/BackorderDetails.aspx?domainname=ilexiconn.net` but they want you to bid and ask a minimum of 69 dollars for it. Cunts

[2020-03-31 07:35] mrstoffer commented on #69
Very sad they did capture the main site on web.archive.org but not the wiki... It's hard to find any alternative to this

Edit: I know this thread is 3 years old